<template>
  <div class="home">
    <SearchPosts/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SearchPosts from '@/components/SearchPosts.vue'; // @ is an alias to /src

@Component({
  components: {
    SearchPosts,
  },
})
export default class Home extends Vue {}
</script>
