<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field v-model="searchText" @input="search"></v-text-field>
      </v-flex>
      <v-flex xs12>
        <h3>{{ results.length }} Resultados</h3>
        <p/>
        <v-card v-for="(r,index) of results">
          <v-card-text v-html="strike(r.content)">
          </v-card-text>
        </v-card>
      </v-flex>
      </v-layout>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component
export default class SearchPosts extends Vue {
  @Prop() private msg!: string;

  private data() {
    return {
      searchText: '' as string,
      results: [] as Array<string>,
    };
  }

  strike(text:string): string {
    let pat = new RegExp(this.searchText, "i")
    let strikedtext = text.split(pat).join(`<b>${this.searchText}</b>`);
    return strikedtext;
  }

  search(): void {
    if (this.searchText.length >= 2) {
      var that = this;
      axios.get(`https://bp.vaz.io/api/posts?content=ilike.*${this.searchText}*`).then(res => {
        that.results = res.data;
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-card {
  margin-bottom: 10px;
}
</style>
